.friendMessage {
    display: flex;
    align-items: flex-end;
}

.friendImageAndText {
    display: flex;
}

.friendImageAndText img {
    width: 48px;
    height: 48px;
}

.friendText {
    margin-bottom: 5px;
    margin-top: 5px;
    padding: 10px;
    background-color: #F5F7FB;;
    border-radius: 10px;
}

.friendText:after {

}

.friendName {

}

.friendMessageText {

}

.friendTime {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 10px;
    line-height: 12px;

    color: #000000;
}
